form > .btn,
.submit-btn.btn {
  width: 100%;
  max-width: 100%;
  border-radius: 0.25rem;
}
.form {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 0.25rem;
  border-radius: 0.3125rem;
  background-color: #222;
  padding: 1.25rem;
}
.contact-form small {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
input:not([type="checkbox"]),
textarea {
  font-family: var(--secondary-font);
  width: 100%;
  padding: 0.75rem;
  border: none;
  border: 0.0625rem solid var(--common-form-color);
  color: var(--common-form-color);
  border-radius: 0.25rem;
  background-color: #161616;
  margin-top: 0.375rem;
  margin-bottom: 1rem;
  min-height: 3rem;
  display: block;
}
::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
}
textarea {
  resize: vertical;
}
label {
  color: var(--common-form-color);
}
input.error,
textarea.error {
  border-color: var(--error-color);
}
form small,
input.error::placeholder,
input.error,
textarea.error::placeholder,
textarea.error {
  color: var(--error-color);
}
input.success,
textarea.success {
  border-color: var(--success-color);
}
input.success::placeholder,
input.success,
textarea.success::placeholder,
textarea.success {
  color: var(--success-color);
}
