.form-submitted-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  bottom: 0;
  transition: 0.4s ease-in-out;
  position: fixed;
  visibility: visible;
  z-index: 201;
  background-color: rgba(0, 0, 0, 0.7);
}
.form-submitted-bg .form-submitted-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  transition: 0.4s ease-in-out;
  padding-top: 2rem;
  max-width: 17.5rem;
  box-shadow: 0 3.125rem 6.25rem -1.25rem rgba(205, 205, 150, 0.25),
    0 1.875rem 3.75rem -1.875rem rgba(255, 255, 255, 0.3);
}
.form-submitted-container {
    background-color: black;
}
.form-submitted-container p {
  padding: 0 1.5rem; 
}
.form-submitted-container .icon {
  position: absolute;
  top: -2rem;
  font-size: 4rem; 
}
