* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  transition: color 0.3s;
}
:root {
  --theme-color: rgb(229, 193, 0);
  --main-font-color: #f5f5f5;
  --common-form-color: grey;
  --theme-gradient: linear-gradient(to bottom right, orange, #e5c100);
  --main-font: "Josefin Sans", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --error-color: #e74c3c;
  --success-color: #2ecc71;
  --testimonial-slider-width: 40rem;
  --testimonial-slider-max-width: 90vw;
}
body {
  background-color: black;
  font-family: var(--secondary-font);
  margin: 0;
  overflow-x: hidden;
}
section {
  margin-top: 2rem;
}
.text-center {
  text-align: center;
}
.no-margin-top,
section.info {
  margin-top: 0;
}
body,
a,
svg,
.icon,
.btn {
  color: var(--main-font-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}
a,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font);
}
h1 {
  font-size: 2.25rem;
}
.glow {
  filter: drop-shadow(0 0 0.325rem var(--theme-color));
  transition: filter 0.3s;
}
.glow:hover {
  filter: drop-shadow(0 0 0.75rem var(--theme-color));
}
h2 {
  font-size: 1.75rem;
}
.row {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}
.row > article {
  padding: 2.5rem 0;
}
main p {
  line-height: 1.5;
  text-align: justify;
  padding: 0 1rem;
}
.info p {
  width: 90vw;
  padding: 0;
}
@media screen and (max-width: 1200px) {
  .row {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .row {
    grid-template-columns: 1fr;
  }
}
.row > article > p {
  text-align: center;
}

.btn {
  width: fit-content;
  transition: 0.3s;
  font-size: 1rem;
  padding: 0.1075rem 1.75rem 0 1.75rem;
  font-weight: 600;
  cursor: pointer;
  background: var(--theme-color);
  text-transform: uppercase;
  border-radius: 1.75rem;
  border: none;
  margin: 1.25rem 0;
  height: 3rem;
  text-shadow: 0 -0.0275rem 0.0275rem rgba(0, 0, 0, 0.6);
  box-shadow: inset 0.75rem 0.5rem 2rem -0.25rem rgba(0, 0, 0, 0.8),
    0 0.5rem 0.9375rem rgba(229, 193, 0, 0.175);
}
.btn:hover {
  background-color: white;
  color: black;
  box-shadow: inset 0.75rem 0.5rem 2rem -0.25rem rgba(0, 0, 0, 0.8),
    0 0.5rem 0.9375rem rgba(255, 255, 255, 0.175);
}
.center-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 250px) {
  * {
    font-size: 5.8vw;
  }
}
@media screen and (min-width: 1920px) {
  * {
    font-size: 0.925vw;
  }
}
.hero-img {
  height: calc(100vh - 5.25rem);
  width: 100%;
}
.hero-img img {
  width: auto !important;
  max-width: 100%;
  right: 0 !important;
  margin: 0 auto !important;
}

footer,
aside,
aside > article,
.row > article,
.tour-listing {
  display: grid;
  place-items: center;
}
main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 5.25rem 0 0 0;
  margin-top: 5.25rem;
  padding: 0;
  min-height: calc(100vh - 5.25rem);
}
iframe {
  width: 35rem;
  max-width: 100%;
  height: 19.6875rem;
  border: 0.1rem solid #e2bb79;
}
@media screen and (max-width: 560px) {
  iframe {
    width: 98vw;
    height: 57vw;
  }
}
body::-webkit-scrollbar {
  width: 1.25rem;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.325rem var(--common-form-color);
  border-radius: 0.625rem;
}
body::-webkit-scrollbar-thumb {
  background: var(--theme-color);
  box-shadow: inset 0.5rem 0.185rem 1.125rem -0.25rem rgba(0, 0, 0, 0.8);
  border-radius: 0.625rem;
}
.tab {
  display: flex;
  justify-content: space-between;
  width: 20rem;
  max-width: 90vw;
  margin: 1em 0;
}
.tab button {
  background-color: black;
  color: var(--common-form-color);
  border: none;
  border-bottom: 0.125rem solid black;
  cursor: pointer;
  font-size: 1.125rem;
  padding: 1rem 0;
  flex: 1;
  transition: 0.3s;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  border-bottom: 0.125rem solid var(--common-form-color);
}
.loading {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading::before {
  position: absolute;
  content: "";
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 0.125rem solid transparent;
  border-top-color: var(--theme-color);
  border-bottom-color: var(--theme-color);
  animation: spinner 1s ease infinite;
}
.loading::after {
  position: absolute;
  content: "";
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 0.125rem solid transparent;
  border-top-color: var(--theme-color);
  border-bottom-color: var(--theme-color);
  animation: mini-spinner 1s ease infinite;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
@keyframes mini-spinner {
  to {
    transform: rotate(-360deg);
  }
}
svg.icon {
  cursor: pointer;
}
.slide-in {
  opacity: 0;
  transform: translateY(20vh);
  transition: 0.5s ease-in-out;
}
.slide-in.on-screen {
  opacity: 1;
  transform: translateY(0);
}
